@import url(http://fonts.googleapis.com/css?family=Raleway:400,500,700);

@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

/*body {*/
	/*background: #f1f1f1;*/
	/*color: #333;*/
	/*font-size: 1em;*/
	/*font-weight: 400;*/
	/*font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
/*}*/

a {
	color: #293d55;
	text-decoration: none;
	outline: none;
}

a:hover, a:focus {
	color: #333;
}


ul.ref {
	padding: 0;
	margin: 0;
	list-style: none;
}

ul.ref li {
	padding: 1em 0;
}

/* Related demos */
.related {
	text-align: center;
	font-weight: 500;
	padding: 5em 0 4em;
}

.related > a {
	width: calc(100% - 20px);
	max-width: 340px;
	border: 1px solid black;
	border-color: initial;
	display: inline-block;
	text-align: center;
	margin: 20px 10px;
	padding: 25px;
}

.related a img {
	max-width: 100%;
	opacity: 0.8;
}

.related a:hover img,
.related a:active img {
	opacity: 1;
}

.related a h3 {
	margin: 0;
	font-weight: 400;
	font-size: 0.925em;
	padding: 1em 0 0.3em;
	max-width: 300px;
	text-align: left;
}

@media screen and (max-width: 60em) {
	.codrops-header h1 {
		font-size: 7em;
	}
}

@media screen and (max-width: 30em) {
	.wrap {
		height: 100vh !important;
		background: #3d4955;
	}
	.codrops-header {
		top: 100%;
	}
	.codrops-header h1 {
		padding-top: 5em;
	}
	.codrops-header h1 i {
		font-size: 42%;
		max-width: 90%;
	}
	.codrops-icon {
		font-size: 1.5em;
	}
	.codrops-icon span {
		display: none;
	}
}
