.text-yellow {
    color: #F3D179;
}

.text-orange {
    color: #F46060;
}

.button-highlight {
    background-color: #F3D179;
}  

.container {
    padding: 0;
    margin: 0;
    padding-left: -15px;
    margin-left: -15px;
}

.row {
    background-color: #F9F7F7 !important;
}

html,
body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: auto;
    position: relative;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    height: 100%;
    background: #F9F7F7;
    /*    display: flex;*/
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

#main-body {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.head-page {
    height: 100%;
    width: 100%;
    background-color: rgba(17, 45, 78, 0.3);
    border-width: 0px;
    padding: 0px;
    margin: 0 auto;
    position: fixed;
    overflow: hidden;
    z-index: 100;
}

.crousel-indicator {
    position: absolute;
    right: 0;
    bottom: 10px;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}

#main-body .carousel-caption {
    height: auto;
    text-align: center;
    vertical-align: middle;
    /*    margin: 0 auto;*/
    /*    margin-bottom: 15%;*/
    padding-bottom: 0%;
    padding-top: 10%;
    /*margin-left: -10%;*/
    position: absolute;
    /*min-width: 200px;*/
    /*    text-align: left;*/
    /*    vertical-align: top;*/
    /*    margin-bottom: 60px; */
    /*    margin-bottom: 20%;*/
    z-index: 1;
}

#main-body .carousel h1 {
    font-family: 'Josefin Sans', sans-serif;
    ;
    font-size: 60px;
    text-transform: uppercase;
    color: whitesmoke;
/*    margin-top: 10%;*/
}

.carousel {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.carousel-inner {
    position: relative;
    width: 100%;
    height: 100%;
    vertical-align: top;
}

.carousel-item {
    height: 100%;
    width: 100%;
    background: no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-control-prev {
    margin-left: -5%;
    padding: 0px;
}

.carousel-control-next {
    margin-right: -5%;
    padding: 0px;
}

.show-image {
    height: 100%;
    width: 100%;
}


/*
.img-head {
    background: url(1251510331468_.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
*/

.carousel-item img {
    width: 100%;
    height: auto;
}

.intro-container {
    border-width: 0px;
    /*    margin-left: 10%;*/
    max-width: 700px;
    word-wrap: break-word;
    word-break: normal;
    font-size: 26px;
    font-family: 'Josefin Sans', sans-serif;
    ;
    color: rgba(240, 240, 240, 0.9);
}


/*.view-btn {*/


/*border-width: 2px;*/


/*border-color: #408ef8;*/


/*text-transform: uppercase;*/


/*background: none;*/


/*color: white;*/


/*height: 65px;*/


/*width: 210px;*/


/*vertical-align: middle;*/


/*-webkit-transition: 1s;*/


/*transition: all .15s ease-in-out;*/


/*padding-top: 12px;*/


/*font-size: 24px;*/


/*font-family: Thames;*/


/*vertical-align: middle;*/


/*cursor: pointer;*/


/*}*/


/*.view-btn span {*/


/*!*    padding-top: 20px;*!*/


/*}*/


/*.view-btn:hover {*/


/*color: rgba(240, 240, 240, 0.8) !important;*/


/*border-color: rgba(64, 142, 248, 0.8);*/


/*}*/

@keyframes ball-up-and-down {
    0%,
    100% {
        opacity: 1;
        margin-top: 15px;
    }
    80% {
        opacity: 1;
        margin-top: 33px;
    }
    85% {
        opacity: 0;
        margin-top: 33px;
    }
    95% {
        opacity: 0;
        margin-top: 15px;
    }
}

.view-btn {
    width: 0.85em;
    height: 4em;
    border: 2px solid white;
    border-radius: 50px 50px 50px 50px;
    background: rgba(255, 255, 255, 0);
    margin: 0 auto;
    position: relative;
    z-index: 300;
    text-align: center;
    cursor: pointer;
    padding: 0.75em;
    margin-top: 30%;
    bottom: 0;
}

.view-btn .point {
    width: 0.1em;
    height: 0.5em;
    background: white;
    /*border-radius: 100%;*/
    margin: 0 auto;
    position: absolute;
    /*margin-top: 5px;*/
    animation: ball-up-and-down 2.5s ease infinite;
    background-color: whitesmoke;
}

.footnote {
    text-align: right;
    position: relative;
    width: 110%;
    height: auto;
    font-family: 'Josefin Sans', sans-serif;
    ;
}


/* About part*/

#about {
    width: 100%;
    height: 80%;
    background-color: #F9F7F7;
    vertical-align: middle;
    padding: 8%;
    position: relative;
}

#about .btn-icon {
    background-color: #F3D179 !important;
    border-radius: 5px;
}

#about .bound {
    display: inline-block;
    position: relative;
    float: left;
    width: 25em;
    height: 25em;
    border: 5px #F3D179 solid;
    border-radius: 100%;
    margin-bottom: auto;
    margin-right: 5%;
    z-index: 2;
}

#about .photo {
    width: 100%;
    height: 100%;
    border: 5px whitesmoke solid;
    border-radius: 100%;
    background-image: url("DSC04917.png");
    /*background: no-repeat center center;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 2;
    position: relative;
}

#about .h1 {
    color: #112D4E;
}

#about .intro {
    display: inline-block;
    float: right;
    width: 55%;
    height: 100%;
    text-align: left;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #F9F7F7;
}

#about .links .row{
    bottom: 0;
    margin-bottom: 0;
    margin-top: 10%;
    background: #F9F7F7 !important;
    background-color: #F9F7F7 !important;
}

#about hr {
    height: 2px;
}

#about .btn-cv{
    border-radius: 5px;
    background-color: #F46060;
    color: white;
}

.container-fluid {
    background-color: cornflowerblue;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0;
    margin-right: 0;
    display: block;
    margin: 0;
    /*
        margin-left: -30px;
        margin-right: 30px;
    */
}

.row {
    background-color: aliceblue;
    /*
        margin-left: -15px;
        margin-right: -15px;
    */
    padding-left: -15px;
    padding-right: -15px;
    margin: 0;
    /*    display: flex;*/
    /*    flex-wrap: wrap;*/
    /*    display: block;*/
    /*    margin: -15px;*/
}


#ability {
    background-color: #F9F7F7;
    width: inherit;
    height: 60%;
    position: relative;
    z-index: 1;
}

.abi-container {
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url("img/DSC04142.png");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

#ability .head-page img {
    margin-top: 9%;
    float: left;
    margin-left: 28%;
}

#ability .head-page .pro-intro {
    margin-top: 8.5%;
    float: right;
    margin-right: 17%;
    text-align: left;
}

.pro-into h1 {
    width: 100%;
    height: auto;
    margin: 0 auto
    text-align: left;
    margin-right: 30%;
    font-size: 20px;
}

.pro-into p {
    font-size: 12px;
}

.pro-intro .btn-git {
    border-radius: 5px;
    background-color: #F46060;
    color: white;
    cursor: pointer;
}

/*.abi-container img {*/


/*width: 100%;*/


/*height: 100%;*/


/*z-index: 1;*/


/*position: absolute;*/


/*}*/

.abi-title {
    padding-top: 2%;
    top: 0;
    z-index: 3000;
}

#ability .line {
    width: 100%;
    height: auto;
    position: relative;
    text-align: center;
    margin-left: 40%;
    margin-top: 1%;
}

#ability .hr-left {
    /*display: inline;*/
    text-align: center;
    margin: 0 auto;
    float: left;
    border-top: 1px solid;
    border-color: lightgray;
    width: 5%;
    position: relative;
}

#ability .hr-middle {
    /*display: inline;*/
    text-align: center;
    margin: 0 auto;
    float: left;
    border-top: 1px solid;
    border-color: #F3D179;
    width: 10%;
    position: relative;
}

#ability .hr-right {
    text-align: center;
    margin: 0 auto;
    /*display: inline;*/
    float: left;
    border-top: 1px solid;
    border-color: lightgray;
    width: 5%;
    position: relative;
}

#ability .head-page {
    background-color: rgba(17, 45, 78, 0.8);
    z-index: 5 !important;
    position: absolute;
}

#ability .item{
    z-index: 1000 !important;
    font-size: 90px;
}

#indicatorContainerWrap,#indicatorContainer{
    display:inline-block;
    position:relative;
    z-index: 300;
}

#ability-container {
    height: 100%;
    width: 100%;
    background-color: #F9F7F7;
}

.inner {
    width: 50%;
    height: auto;
    margin-left: 25%;
    padding-top: 5%;
}

#ability .abi-body {
    z-index: 2000;
}

#ability-container .btn-yellow {
    margin: 0 auto;
    cursor: pointer;
    background: #F3D179;
}

#ability-container .tbody tr td {
    border-left: 0px !important;
    border-top: 0px !important;
}

#ability-container .right-border {
    border-right: 2px solid #EEE !important;
}

#ability-container .bottom-border {
    border-bottom: 2px solid #EEE !important;
}

#projects {
    height: 200%;
    width: 100%;
    position: relative;
    /*background: url("../DSC03777.png");*/
    /*background: no-repeat center center;*/
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/
}

.projects-header {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    text-align: center;
    vertical-align: middle;
    z-index: 1000;
    font-size: 1.5em;
    font-family: 'Josefin Sans', sans-serif;
}

.projects-header h2 {
    position: absolute;
    font-weight: 500;
    font-size: 4.5em;
    line-height: 1.2;
    color: #fff;
    z-index: 1000;
    padding: 0;
    margin: 0;
    left: 0;
    text-transform: uppercase;
    letter-spacing: 5px;
    width: 100%;
    top: 40%;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
}

.projects-header .line {
    width: 100%;
    height: auto;
    position: relative;
    text-align: center;
    margin-left: 40%;
    margin-top: 28%;
}

.projects-header .hr-left {
    /*display: inline;*/
    text-align: center;
    margin: 0 auto;
    float: left;
    border-top: 2px solid;
    border-color: whitesmoke;
    width: 5%;
    position: relative;
}

.projects-header .hr-middle {
    /*display: inline;*/
    text-align: center;
    margin: 0 auto;
    float: left;
    border-top: 2px solid;
    border-color: #F3D179;
    width: 10%;
    position: relative;
}

.projects-header .hr-right {
    text-align: center;
    margin: 0 auto;
    /*display: inline;*/
    float: left;
    border-top: 2px solid;
    border-color: whitesmoke;
    width: 5%;
    position: relative;
}

.projects-header a {
    width: auto;
    height: 8%;
    position: relative;
    z-index: 1000;
    background-color: #F46060;
    color: whitesmoke;
    margin-top: 15%;
    float: left;
    margin-left: -16%;
    padding: 20px;
    vertical-align: middle;
    cursor: pointer;
}

#contact-head {
    background-color: #F9F7F7;
    width: inherit;
    height: 35%;
    position: relative;
}

#contact-head .head-page {
    position: absolute;
}

.con-container {
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url("img/DSC04142.png");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

.con-title {
    padding-top: 3%;
}

#contact-head .line {
    width: 100%;
    height: auto;
    position: relative;
    text-align: center;
    margin-left: 40%;
    margin-top: 1%;
}

#contact-head .hr-left {
    /*display: inline;*/
    text-align: center;
    margin: 0 auto;
    float: left;
    border-top: 1px solid;
    border-color: lightgray;
    width: 5%;
    position: relative;
}

#contact-head .hr-middle {
    /*display: inline;*/
    text-align: center;
    margin: 0 auto;
    float: left;
    border-top: 1px solid;
    border-color: #F3D179;
    width: 10%;
    position: relative;
}

#contact-head .hr-right {
    text-align: center;
    margin: 0 auto;
    /*display: inline;*/
    float: left;
    border-top: 1px solid;
    border-color: lightgray;
    width: 5%;
    position: relative;
}

#contact-head .head-page {
    background-color: rgba(17, 45, 78, 0.8);
}

#contact-head .btn-mail{
    border-radius: 50px;
    background-color: #F46060;
    color: white;
}

#contact-head .conh-container {
    width: 100%;
    position: absolute;
    margin-top: 6%;
}

.col-center-block {  
    float: none;  
    display: block;  
    margin-left: auto;  
    margin-right: auto;  
}

.btn-contact {
    width: auto;
    height: auto;
    background-color: #F46060;
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 30px 30px 30px 30px;
    float: left;
    margin-left: -16%;
    margin-top: 5%;
    cursor: pointer;
}

#contact {
    /*background-image: url("../DSC04142.png");*/
    /*background-attachment: fixed;*/
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    background-color: #F9F7F7;
    position: relative;
    width: 100%;
    height: 50%;
    text-align: center;
}

#contact .container-fluid {
    background: none;
    /*background-color: white;*/
    z-index: 1;
    text-align: center;
}

.contact-head {
    /*background-color: white;*/
    background: none;
    padding-top: 3%;
    z-index: 1;
    text-align: center;
}

.contact-head h1 {
    font-size: 50px;
    font-family: 'Josefin Sans', sans-serif;
    z-index: 1;
}

#contact .row {
    /*background-color: white;*/
    vertical-align: middle;
    background: none;
    z-index: 1;
}

#contact .btn-yellow {
    margin: 0 auto;
    cursor: pointer;
    background: #F3D179;
}

#contact .head-page {
    background-color: rgba(30, 30, 30, 0.5);
}

#contact .line {
    width: 100%;
    height: auto;
    margin: 0 auto;
    position: relative;
    text-align: center;
    margin-left: 44%;
}

#contact .hr-left {
    /*display: inline;*/
    text-align: center;
    margin: 0 auto;
    float: left;
    border-top: 1px solid;
    border-color: lightgray;
    width: 3%;
    position: relative;
}

#contact .hr-middle {
    /*display: inline;*/
    text-align: center;
    margin: 0 auto;
    float: left;
    border-top: 1px solid;
    border-color: #F3D179;
    width: 6%;
    position: relative;
}

#contact .hr-right {
    text-align: center;
    margin: 0 auto;
    /*display: inline;*/
    float: left;
    border-top: 1px solid;
    border-color: lightgray;
    width: 3%;
    position: relative;
}

.back-top {
    height: 10%;
    background-color: #333;
    vertical-align: middle;
    cursor: pointer;
}

.back-top:hover {
    background-color: #464a4e;
}

.back-top h5 {
    height: auto;
    width: inherit;
    padding-top: 2%;
}

#alert {
    width: 100%;
    height: 30%;
    position: absolute;
    vertical-align: middle;
}

.alert-container {
    width: 100%;
    height: 100%;
    /*    background-color: #001c2c;*/
    background-color: #222;
    vertical-align: middle;
    padding-top: 5%;
    /*    display: inline;*/
    /*    position: relative;*/
}

#canvas h5 {
    width: 100%;
    height: auto;
    /*    position: absolute;*/
    color: white;
    font-size: 24px;
    z-index: 200;
    margin-top: 7%;
    font-family: 'Josefin Sans', sans-serif;
    ;
}

#canvas h5 nobr {
    color: #F3D179;
}

#canvas {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #1a1724;
    border: 0;
}

.canvas-wrap {
    position: relative;
    background-color: #333;
    border: 0;
    position: relative;
    /*    display: inline;*/
}

div.canvas-content {
    position: relative;
    z-index: 2000;
    color: #fff;
    text-align: center;
    padding-top: 30px;
    border: 0;
    opacity: 0.5;
}

#canvas .head-page {
    height: 100%;
    width: 100%;
    background-color: rgba(100, 100, 100, 0.5);
    border-width: 0px;
    padding: 0px;
    margin: 0 auto;
    position: absolute;
    overflow: hidden;
    border: 0;
    z-index: 100;
}


/*
#back-star {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
}
*/